<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1V" stopProcessing="true">
                    <match url="^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?$"
                           ignoreCase="true" />
                    <action type="Rewrite"
                            url="/index.php?controller={R:1}&amp;action={R:2}&amp;id={R:3}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>